<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>E-Learning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles3.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">E2(Education made easy)</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
		  <li id="login"><a href="/login">LOGIN</a></li>
		  <li><a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Profile</a>
		  <div class="dropmenu">
		  <div class="dropdown-menu">
		     <a class="dropdown-item btn-default" href="/videolec">Online lectures</a>
			 <a class="dropdown-item btn-default" href="/formulasheet">Formula sheet</a>
			 <a class="dropdown-item btn-default" href="/books">Books</a>
			 <a class="dropdown-item btn-default" href="/quiz">Quiz</a>
			 <a class="dropdown-item btn-default" href="/survey">Survey</a>
			  <a class="dropdown-item btn-default" href="/logout">Logout</a>
		  </div>
		  </div>
		  </li>
        </ul>
    </div>
  </nav>
</head>
<script src= "https://code.jquery.com/jquery-3.5.1.js"> </script> 