<%- include("partials/header"); -%>
<section id="about">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6">
<div class="aboutus">
<h1>About Us</h1>
</div>
</div>
<div class="col-lg-6">
<div class="aboutusinfo">
    <p>Recycle It All-- No matter how small
      <Br>Welcome to the Recycle It All-- No matter how small!</br>
      Here you can register to donate means recycle or sell electronic waste products
      as your chocie. This website will help you to connect to people how want to buy 
      some electronic waste products or recycle it.
      

  </p>
</div>
</div>
</div>
</div>
</section>

<%- include("partials/footer"); -%>
